<p class="text">Login as</p>
<div class="teachLog">
    
    <button  type="button" class="btn btn-primary">
        <a class="text-white" href="/teacher/login">Teacher Login</a>
    </button>


    <button  type="button" class="btn btn-primary ">
        <a class="text-white" href="/student/login">Student Login</a>
    </button>
</div>
