<a href="/" class="btn btn-danger " style="margin-top:5px;">Logout</a>
<div class="optionDiv">
    <button class="btn btn-primary">
        <a class="text-white" href="/teacher/viewall">View All Students</a>
    </button>
    <button class="btn btn-primary">
        <a class="text-white" href="/teacher/add">Add Student</a>
    </button>
</div>